<p>medical-dashborad works!</p>
<div class="example-wrap">
  <form class="k-form" [formGroup]="medicalDashboardForm">
    <div class="k-form-buttons" >
      <button class="k-button k-primary" [disabled]="!canAdd"  (click)="clickAdd()">Add</button>
      <button class="k-button" [disabled]="!canCancel"  (click)="clickCancel()">Cancel</button>
    </div>
    <div *ngIf='medicalScreen === 1'>
      <app-athlete-list (editAthleteItem) = 'showAthlete($event)' (editParentItem) = 'showParent($event)' (editFormItem) = 'showForm($event)'></app-athlete-list>
    </div>
    <div *ngIf='medicalScreen === 2'>
      <app-medical-add ></app-medical-add>
    </div>
    <div *ngIf='medicalScreen === 3'>
      <app-athlete-information></app-athlete-information>
    </div>
    <div *ngIf='medicalScreen === 4'>
      <app-athlete-parent></app-athlete-parent>
    </div>
    <div *ngIf='medicalScreen === 5'>
      <app-medical-information></app-medical-information>
    </div>
  </form>
</div>
