<div>
  <p>{{instruction}}</p>
  <form [formGroup]="sportPickerForm">
    <kendo-combobox

    [data]="sportList$ | async"
    [textField]="'name'"
    [valueField]="'id'"
    [value]="selectedSport"
    [placeholder]="'Select A Sport'"

    (selectionChange)="selectionSport($event)"
    formControlName="sport"
  >
    </kendo-combobox>

    <div *ngIf="showProgram">
      <kendo-combobox

      [data]="programList$ | async"
      [textField]="'name'"
      [valueField]="'id'"
      [(value)]="selectedProgram"
      [placeholder]="'Select A Program / Location'"

      (selectionChange)="selectionProgram($event)"
      formControlName="program"
    >
      </kendo-combobox>
    </div>

    <div *ngIf="canContinue">
      <button kendoButton (click)= "clickContinue()">
        Continue
      </button>
    </div>

    <div *ngIf="canCancel">
      <button kendoButton (click)= "clickCancel()">
        Cancel
      </button>
    </div>
  </form>

</div>
