<div class="example-wrap">

  <form class="k-form" [formGroup]="sportPickerForm">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">{{instruction}}</legend>
      <mat-progress-spinner mode="indeterminate" *ngIf="isLoadingSport || isLoadingProgram"></mat-progress-spinner>
      <kendo-formfield>
        <kendo-label [for]="sport" text="Sport"></kendo-label>
        <kendo-combobox

        [data]="sportList$ | async"
        [textField]="'name'"
        [valueField]="'id'"
        [value]="selectedSport"
        [placeholder]="'Select A Sport'"
        #sport
        (selectionChange)="selectionSport($event)"
        formControlName="sport"
      >
        </kendo-combobox>
        <kendo-formhint>Special Olympics Sport</kendo-formhint>
        <kendo-formerror>Error: Sport is required</kendo-formerror>
      </kendo-formfield>
      <kendo-formfield *ngIf="showProgram">
        <kendo-label [for]="program" text="Program / Location"></kendo-label>
        <kendo-combobox

        [data]="programList$ | async"
        [textField]="'name'"
        [valueField]="'id'"
        [(value)]="selectedProgram"
        [placeholder]="'Select A Program / Location'"

        (selectionChange)="selectionProgram($event)"
        formControlName="program"
        #program
      >
        </kendo-combobox>
        <kendo-formhint>Program / Location for Sport</kendo-formhint>
        <kendo-formerror>Error: Program / Location is required for this Sport</kendo-formerror>
      </kendo-formfield>
      <h4 *ngIf="isWaitlist"  style="color:crimson"><em>Waitlist Only</em></h4>
      <div class="k-form-buttons">
        <button class="k-button k-primary" [disabled]="!canContinue"  (click)="clickContinue()">Continue</button>
        <button class="k-button" [disabled]="!canCancel"  (click)="clickCancel()">Cancel</button>
      </div>
    </fieldset>

  </form>

</div>
