<p>athlete-list works!</p>
<mat-progress-spinner mode="indeterminate" *ngIf="isLoadingAthlete"></mat-progress-spinner>
<kendo-grid
  [data]="view | async"
  [height]="410"
  (edit)="editHandler($event)"
  >
  <kendo-grid-column field="firstName" title="First Name" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender" width="75">
  </kendo-grid-column>
  <kendo-grid-column field="medicalFormEndDate" title="Renewal Date" width="75" >
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="150" >
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand>Athlete</button>
        <button kendoGridRemoveCommand>Parent</button>
        <button kendoGridAddCommand>Form</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
